[user]
	name = Andrew Lefchak
	email = alefchak@gmail.com
[alias]
	ls = log --graph --decorate --abbrev-commit --pretty=format:'%C(bold blue)%h%Creset -%C(auto)%d%Creset %C(white)%s%Creset %C(green)(%cr) %C(bold yellow)<%an>%Creset' --all
	co = checkout
	ec = config --global -e
	up = !git pull --rebase --prune
	gone = "!git for-each-ref --format='%(if:equals=[gone])%(upstream:track)%(then)%(refname:short)%(end)' refs/heads | grep . | while read -r b; do git branch -D \"$b\"; done"
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	autoStash = true
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[commit]
	verbose = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	editor = code --wait
[merge]
	tool = vscode
	conflictStyle = zdiff3
[diff]
	tool = vscode
	algorithm = histogram
[difftool]
	prompt = false
[mergetool]
	keepBackup = false
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[gui]
	spellingdictionary = none
# Machine-specific settings; see git/.gitconfig-override.example in the dotfiles repo.
[include]
	path = ~/.gitconfig-override
